<a href="https://colab.research.google.com/github/shivamvij100/data-science/blob/main/Copy_of_Day_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import qrcode
img = qrcode.make('https://colab.research.google.com/drive/1zvMVzM8lyhe10gqBfO8GEKT_mfV_MJ7B?usp=sharing')
img.save('myqr.png')

In [ ]:
# pip install qrcode

In [ ]:
# Python Webscraping Project
# Scrap Website
# Store data in database
#

In [ ]:
import requests as r
url = '''https://en.wikipedia.org/wiki/List_of_Indians_by_net_worth'''

response = r.get(url)
response

In [ ]:
html_data = response.content
print(html_data)

In [ ]:
# pip install beautifulsoup4

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_data)
print('Done')

In [ ]:
students = ['karan','Ravi','Ajay','Mohan']
for index_no,value in enumerate(students):
  if 1<= index_no <= 2:
    print(index_no,value)

In [ ]:
all_data = []

for index_no, value in enumerate(soup.find_all('tr')):
  if 0<= index_no <= 24:
    # print(index_no, value.text)
    temp_data = value.text.splitlines()
    print(temp_data)
    while '' in temp_data:
      temp_data.remove('')

    all_data.append(temp_data)

print('Done')

In [ ]:
column = all_data[0]
final_data = all_data[1:]

In [ ]:
# column.remove('Change')

In [ ]:
column

In [ ]:
import pandas as pd
final_columns = ['Rank','Name','Net worth (USD)','Company Name','Sources of wealth','None','None']
rich_list = pd.DataFrame(final_data,columns = final_columns)

rich_list

final_df = rich_list.drop('None',axis = 1)

final_df.to_excel('Rich_list.xlsx')
print('Done')

In [ ]:
import pymysql as py

conn = py.connect(host = 'localhost',
                  user = 'root',
                  password='1234',
                  autocommit = True)
cur = conn.cursor()
print('Done')

In [ ]:
query = 'create database wiki;'

cur.execute(query)
print('Done')

In [ ]:
table_column = ['rich_' + i.replace(' ','_').replace('(USD)','US_Dollar')  for i in final_df.columns]
table_column

In [ ]:
' varchar(255), '.join(table_column) + ' varchar(255)'

In [ ]:
query_part = ' varchar(255), '.join(table_column) + ' varchar(255)'

query = '''Create table wiki.rich_list (''' + query_part + ');'

print(query)

In [ ]:
cur.execute(query)
print('Done')

In [ ]:
# Insert data

for i in final_df.itertuples():
    value = tuple(i)[1:]

    query = f'''insert into wiki.rich_list values {value};'''
    # print(query)
    cur.execute(query)

print('Done')