<a href="https://colab.research.google.com/github/shivamvij100/data-science/blob/main/Day_12_%2B_13_IITM_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import qrcode
img = qrcode.make('https://colab.research.google.com/drive/1b0jwCciP9euhZ9k4LbkCJV4Z2ejcGc2Q?usp=sharing')
img.save('myqr.png')

In [ ]:
# pip install qrcode

In [ ]:
# fillna
# replace
# drop
# Drop_duplicates
# Duplicated
# Corr
# outliers detection
# pivot table

# Matplotlib Charts
'''Bar, Pie, Line, Box, violin'''
# Seaborn Charts
'''Bar, Line, Heatmap, Box, Violin, CatPlot, Regplolt, lmplot'''

#Feature Engineering
print('Topics for Today')

In [ ]:
'''https://www.kaggle.com/datasets/patrickb1912/ipl-complete-dataset-20082020'''

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("patrickb1912/ipl-complete-dataset-20082020")

print("Path to dataset files:", path)

In [ ]:
import os
file_one,file_two = os.listdir(path)
print('Done')

In [ ]:
file_one_path = path + '/' + file_one
file_two_path = path + '/' + file_two

In [ ]:
print(file_one_path)
print(file_two_path)

In [ ]:
# Step1 : Modules Import
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
print('Done')

In [ ]:
df_matches = pd.read_csv(file_one_path)
df_deliveries = pd.read_csv(file_two_path)

print('Done')

In [ ]:
# EDA
df_matches.head(2)

In [ ]:
df_deliveries.head(2)

In [ ]:
df_matches.shape

In [ ]:
df_deliveries.shape

In [ ]:
# Info

In [ ]:
df_matches.info()

In [ ]:
# columns
df_matches.columns

In [ ]:
# Null values count
df_matches.isna().sum().sort_values(ascending = False)

In [ ]:
# Heatmap

sns.heatmap(df_matches.isna())
plt.show()

In [ ]:
# Null values count
df_matches.isna().mean().sort_values(ascending = False)*100

In [ ]:
df_matches['method'].value_counts()

In [ ]:
df_matches['method'].fillna('Normal method',inplace = True)
print('done')

In [ ]:
df_matches['city'].value_counts()

In [ ]:
# masking

df_matches[df_matches['city'].isna()]

In [ ]:
df_matches['city'].fillna('UAE',inplace = True)
print('Done')

In [ ]:
# Null values count
df_matches.isna().mean().sort_values(ascending = False)*100

In [ ]:
df_matches[df_matches['result_margin'].isna()]

In [ ]:
df_matches['result_margin'].info()

In [ ]:
df_matches['result_margin'].fillna(0,inplace = True)

In [ ]:
# Columns with Missing Values
# winner,player_of_match,target_overs,target_overs

In [ ]:
df_matches[df_matches['winner'].isna()]

In [ ]:
df_matches.fillna({'player_of_match':'No Player of the match',
                   'winner':'No winner'}, inplace= True)
print('Done')

In [ ]:
df_matches.fillna(0,inplace = True)
print('Done')

In [ ]:
df_matches.isna().sum()

In [ ]:
sns.heatmap(df_matches.isna())

In [ ]:
df_matches['city'].value_counts()

In [ ]:
data_rp = {'Navi Mumbai':'Mumbai',
           'Bengaluru':'Bangalore',
           'Sharjah':'UAE',
           'Abu Dhabi':'UAE','Kimberley':'Cape Town','Dubai':'UAE'}


df_matches.replace(data_rp,inplace = True)
print('Done')

In [ ]:
df_matches.columns

In [ ]:
# check Duplicacy

In [ ]:
df_matches.duplicated('id').value_counts()

In [ ]:
df_matches.drop_duplicates('id',inplace = True)
print('Done')

In [ ]:
df_matches.info()

In [ ]:
# Date column must be in date dtype

In [ ]:
df_matches['date'] = pd.to_datetime(df_matches['date'])
print('done')

In [ ]:
df_matches.info()

In [ ]:
df_matches['venue'].str.split(',')

In [ ]:
df_matches['venue'] = df_matches['venue'].apply(lambda row: row.title().split(',')[0])
print('Done')

In [ ]:
df_matches['venue'].value_counts().reset_index()

In [ ]:
data_v_rp = {'M.Chinnaswamy Stadium':'M Chinnaswamy Stadium',
             'Feroz Shah Kotla':'Arun Jaitley Stadium',
             'Sardar Patel Stadium':'Narendra Modi Stadium',
             'Punjab Cricket Association Is Bindra Stadium':'Punjab Cricket Association Stadium'}

df_matches['venue'].replace(data_v_rp,inplace = True)
print('Done')

In [ ]:
x = df_matches['venue'].value_counts().head(10).index
y = df_matches['venue'].value_counts().head(10).values


plt.figure(figsize = (7,5))
ax = plt.barh(x,y,color = sns.color_palette('rainbow',10))
plt.bar_label(ax)
plt.title('Top 10 venue by Matches Played')
plt.xticks(rotation = 90)
plt.show()

In [ ]:
df_matches['team1'].value_counts().reset_index()

In [ ]:
df_matches['team2'].value_counts().reset_index()

In [ ]:
import warnings
warnings.filterwarnings('ignore')

team_name_rp = {'Delhi Daredevils':'Delhi Capitals',
                'Royal Challengers Bangalore':'Royal Challengers Bengaluru',
                'Kings XI Punjab':'Punjab Kings',
                'Rising Pune Supergiant':'Rising Pune Supergiants',
                'Pune Warriors':'Rising Pune Supergiants'}

df_matches[['team1','team2']] = df_matches[['team1','team2']].replace(team_name_rp)

print('Done')

In [ ]:
# df_matches

In [ ]:
df_matches.sample(5)

In [ ]:
df_matches[['toss_winner','winner']].replace(team_name_rp, inplace = True)
print('Done')

In [ ]:
# Umpire1 and Umpire2

In [ ]:
# Drop # Umpire1 and Umpire2

In [ ]:
df_matches.drop(['umpire1','umpire2'],axis= 1, inplace = True)
print('Done')

In [ ]:
df_matches.sample(3)

In [ ]:
team_name_rp

In [ ]:
df_matches['toss_winner'].replace(team_name_rp,inplace = True)
df_matches['winner'].replace(team_name_rp,inplace = True)

In [ ]:
# df_matches['toss_winner'].value_counts()

In [ ]:
df_matches.columns

In [ ]:
df_matches.shape

In [ ]:
df_matches['winner'].value_counts()

In [ ]:
df_matches['match_type'].value_counts()

In [ ]:
# List out highest ipl session winning team

In [ ]:
df_matches[df_matches['match_type'] == 'Final']['winner'].value_counts()

In [ ]:
plt.title('Highest ipl session winning team')
df_matches[df_matches['match_type'] == 'Final']['winner'].value_counts().plot(kind = 'pie',autopct = '%.2f%%')
plt.show()

In [ ]:
# df_matches['date'].dt.month_name()

In [ ]:
# df_matches['date'].dt.year

In [ ]:
final_match = df_matches[df_matches['match_type'] == 'Final']
final_match

In [ ]:
final_match['Winning year'] = final_match['date'].dt.year
print('Done')

In [ ]:
final_match

In [ ]:
final_match[['Winning year','winner']].sort_values('winner')

In [ ]:
final_match['result'].value_counts()

In [ ]:
df_matches.groupby('venue')['result'].value_counts()

In [ ]:
final_match.groupby('venue')['result'].value_counts().reset_index().sort_values(by ='count',ascending = False)

In [ ]:
final_match.groupby('venue')['result'].value_counts().reset_index().sort_values(by ='venue')

In [ ]:
df_matches.groupby('venue')['result'].value_counts().reset_index().sort_values(by ='venue')

In [ ]:
print('Done!!')

# Day 13 IITM DS

In [ ]:
df_matches.sample()

In [ ]:
# Questions to be solve?
# Each season Winner Team
# Top 10 Match Winner team
# Toss_dicision_value_counts
# Result type value_counts
# Top 10 target Runs
# Maximum Result Margin Wins
# Top 5 Result Margin Wins
# Top 10 player_of_match
# Season Player of the match

In [ ]:
# Q1: all season Winner team
final_match[['Winning year','winner']].sort_values('Winning year')

# Q2: Top 10 Match Winner team

In [ ]:
# df_matches.sample()
df_matches['winner'].value_counts().head(10)

In [ ]:
# All Univariate analysis
num_cols = df_matches.describe().columns
cat_cols = df_matches.describe(include = 'O').columns

In [ ]:
print(num_cols)

In [ ]:
print(cat_cols)

In [ ]:
for i in cat_cols:
  try:
    temp_df = df_matches[i].value_counts().head(10).sort_values(ascending = True)
    x = temp_df.index
    y = temp_df.values

    plt.title(f'Top 10 Analysis by {i}')
    ax = plt.barh(x,y,color = sns.color_palette('cool',10))
    plt.bar_label(ax)
    plt.xticks(rotation = 90)
    plt.show()
  except:
    pass

In [ ]:
# len(cat_cols)

plt.figure(figsize = (30,45))
for j,i in enumerate(cat_cols):
  temp_df = df_matches[i].value_counts().head(10).sort_values(ascending = True)
  x = temp_df.index
  y = temp_df.values

  plt.subplot(7,2,j+1)
  plt.title(f'Top 10 Analysis by {i}')
  colors = ['cool','mako','rainbow','magma','hot']
  import random
  ax = plt.barh(x,y,color = sns.color_palette(random.choice(colors),10))
  plt.bar_label(ax)
  plt.xticks(rotation = 90)

plt.savefig('All_Categorical_Analysis.jpeg')
plt.show()
print('Done')

In [ ]:
# Seaborn dataset, sklearn dataset
# pandas
# concat
# merge, joins
# pivot table
# matplotlib
# seaborn
# Recap
# # Corr
# # outliers detection

In [ ]:
# df_deliveries.sample()

In [ ]:
# Top 10 target Runs
# Maximum Result Margin Wins
# Top 5 Result Margin Wins
# Season Player of the match

In [ ]:
num_cols = df_matches.describe().columns

num_cols = list(num_cols)
num_cols.remove('id')
num_cols.remove('date')
num_cols.remove('target_overs')
num_cols

if 'result_margin' not in num_cols:
  num_cols.append('result_margin')

print(num_cols)

In [ ]:
# Numerical Histogram
plt.figure(figsize = (10,4))
for j,i in enumerate(num_cols):
  plt.subplot(1,2,j+1)
  plt.title(f'Distribution Analysis for {i}')
  plt.hist(df_matches[i],color = 'red')
plt.show()

In [ ]:
# Numerical Histogram
plt.figure(figsize = (10,4))
for j,i in enumerate(num_cols):
  plt.subplot(1,2,j+1)
  plt.title(f'Distribution Analysis for {i}')
  sns.histplot(df_matches[i],color = 'blue',kde = True) #Kernel Density Estimator (KDE)
plt.show()

In [ ]:
# Max Target Runs which team?

df_matches[df_matches['target_runs'] == df_matches['target_runs'].max()]

In [ ]:
# Min Target Runs which team?
temp_df = df_matches[(df_matches['winner'] != 'No winner') & (df_matches['method'] == 'Normal method')]

temp_df[temp_df['target_runs'] == temp_df['target_runs'].min()]

In [ ]:
# df_matches.describe()

In [ ]:
df_matches['target_runs'].value_counts().sort_index().head(20)

In [ ]:
df_matches[df_matches['date'].dt.year == 2017].sort_values(by = 'winner')[['winner','result','result_margin']]

In [ ]:
# LOC , ILOC
# Index = 603

In [ ]:
df_matches.iloc[603,:]

In [ ]:
131-82

In [ ]:
df_matches.columns

In [ ]:
# Stadium wise Team highest score

df_matches.groupby(['venue','team1'])['target_runs'].agg(['max','min','mean'])

In [ ]:
# Pivot table

df_matches['year'] = df_matches['date'].dt.year
df_matches.columns

In [ ]:
all_team_year_df = df_matches.pivot_table(index = 'year',columns ='team1',values = 'target_runs')
all_team_year_df = all_team_year_df.round(0)

In [ ]:
plt.figure(figsize = (15,7))
# pd.options.display.float_format = '{:.2f}'.format
sns.heatmap(all_team_year_df,fmt="",annot = True)
plt.show()

In [ ]:
all_team_year_df = df_matches.pivot_table(index = 'year',columns ='team1',values = 'target_runs',aggfunc= 'min')
all_team_year_df = all_team_year_df.round(0)

plt.figure(figsize = (15,7))
# pd.options.display.float_format = '{:.2f}'.format
sns.heatmap(all_team_year_df,fmt="",annot = True,cmap='mako')
plt.title('IPL all Session Team Minimum score')
plt.show()

In [ ]:
all_team_year_df = df_matches.pivot_table(index = 'year',columns ='team1',values = 'target_runs',aggfunc= 'max')
all_team_year_df = all_team_year_df.round(0)

plt.figure(figsize = (15,7))
# pd.options.display.float_format = '{:.2f}'.format
sns.heatmap(all_team_year_df,fmt="",annot = True,cmap='cool')
plt.title('IPL all Session Team Maximum score')
plt.show()

In [ ]:
# H/W: Team 2 all year analysis

In [ ]:
# LOC vs ILOC
# LOC: Location Name
# ILOC: Index Pass

In [ ]:
df_matches.loc[50:55,['team1','team2','result']]

In [ ]:
df_matches.columns

In [ ]:
df_matches.iloc[50:55,[7,8,12]]

In [ ]:
# 2016> all rows and columns last 3

In [ ]:
rows = df_matches[df_matches['year']>=2016].index

df_matches.iloc[rows ,-3:]

In [ ]:
df_deliveries.sample(5)

In [ ]:
df_deliveries.iloc[123257,:]

In [ ]:
df_deliveries.info()

In [ ]:
df_deliveries.isna().sum().sort_values(ascending = False)

In [ ]:
df_deliveries.loc[:,['fielder','dismissal_kind','player_dismissed','extras_type']]

In [ ]:
normal_cols = ['fielder','dismissal_kind','player_dismissed','extras_type']

In [ ]:
for i in normal_cols:
  print(f'Analysis for {i}\n\n')
  display(df_deliveries[i].value_counts().head(10))

In [ ]:
plt.title('Checking Null values Distribution!!')
sns.heatmap(df_deliveries.isna())
plt.show()

In [ ]:
# Fill NAN Values

df_deliveries.fillna('Unknown', inplace = True)
print('Done')

In [ ]:
plt.title('Checking Null values Distribution!!')
sns.heatmap(df_deliveries.isna())
plt.show()

In [ ]:
df_deliveries.sample()

In [ ]:
batsman = 'DA Miller'


def get_player_perfromance_stats(batsman):

  player_df =df_deliveries[df_deliveries['batter'] == batsman]

  x = player_df['batsman_runs'].value_counts().sort_index().index
  y = player_df['batsman_runs'].value_counts().sort_index().values
  plt.figure(figsize = (4,2))
  plt.title(f'Analysis for {batsman}')
  ax = plt.bar(x,y,color = sns.color_palette('magma',7))
  plt.bar_label(ax)
  plt.show()

  total_runs = player_df['batsman_runs'].sum()

  print(f'{batsman} Total Runs in IPL History: {total_runs}')


  print(f'Batsman {batsman} Top 10 Performance Against Bowlers')
  perfomance_df = player_df.groupby('bowler')['batsman_runs'].agg(['sum','mean']).reset_index().sort_values(by = 'sum',ascending=False).head(10)


  display(perfomance_df)

In [ ]:
all_batsman = df_deliveries['batter'].unique()
print('done')

In [ ]:
import random
for i in random.choices(all_batsman,k = 5):
  get_player_perfromance_stats(i)

In [ ]:
# Data Frame JOIN